{{ if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ with .Params.subtitle }}<h2 class="subtitle">{{ . }}</h2>{{ end }}
{{ $author := false }}
{{ if .IsPage }}
{{ $showDate := ne .Params.showDate false }}
{{ $meta := "" }}
{{ with or (or .Params.author (index (or .Site.Params.author dict) .Section)) "" }}
{{ $author = . }}
{{ $meta = . }}
{{ end }}
{{ $date := "" }}
{{ if $showDate }}
{{ if .Params.date }}
{{ $date = .Date.Format "2006-01-02" }}
{{ else }}
{{ with .Lastmod }}
{{ $date = .Format "2006-01-02" }}
{{ end }}
{{ end }}
{{ end }}
{{ with $date }}
{{ if $author }}
{{ $meta = print $meta " / " . }}
{{ else }}
{{ $meta = . }}
{{ end }}
{{ end }}
{{ with $meta }}<h3>{{ . }}</h3>{{ end }}
{{ end }}
<hr>
{{ end }}
